@import "vars";
@import "bootstrap";

$mapa-colores:(
    rojo:$colorPrincipal,
    rojoOscuro:$colorSecundario,
    negro:$colorTitulos,
    fondo:$colorFondo
);

@mixin flex {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.nav_bar{
    background:linear-gradient(to left, map-get($map: $mapa-colores, $key:rojo ),map-get($map: $mapa-colores, $key:rojoOscuro ))

}

body{
    font-family: $fuentePrincipal;
    .content{
        h2{
            color:map-get($map:$mapa-colores , $key:negro );
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            margin-top:80px;
            margin-bottom: 40px;
        }
        .article1{
            @include flex;
            gap: 50px;
            justify-content: space-around;
            margin-bottom: 120px;
            &__item{
                height: 226px;
                width: 337px;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
                p {
                    margin-top: 10px;
                    font-size: 20px;
                    text-align: center;
                    font-weight: solid;
                }

            }
        }
        .article2{
            @include flex;
            gap: 10px;
            justify-content: space-around;
            margin-bottom: 120px;
            &__item{
                iframe{
                    border-radius: 10px;
                    height: 300px;
                    width: 400px;
                    transition: all 1s;
                    &:hover{
                        height: 400px;
                        width: 500px;
                    }
                }
                p{
                    margin-top: 10px;
                    font-size: 20px;
                    text-align: center;
                    font-weight: solid;
                }
            }
        }
        .article3{
            @include flex;
            gap: 20px;
            justify-content: space-around;
            margin-bottom: 300px;
            &__item{
                iframe{
                    height: 600px;
                    width: 400px;
                    border: 3px solid black;
                    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
                    transition: all 1s;
                    &:hover{
                        height: 800px;
                        width: 700px;
                    }
                }
                
            }

        }
    }
}